@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #939ee7 #EEF0FF;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #ffffff;
    position: relative;
    width: 100%;
}
.tela-transparente{
    width: 100%;
    height: 100vh;
    background-color: grey;
    opacity: 0.5;
    position: absolute;
    z-index: 2;
}

aside {
    position: fixed;
    top: 2.5vh;
    bottom: 2.5vh;
    left: 1.35%;
    width: 12.2%;
    height: 95vh;
    background: linear-gradient(145deg, #8f97ff, #8a87ff);
    display: flex;
    flex-direction: column;
    border-radius: 2.5vh;
    /* border-radius: 27px; */
    padding: 0.95% 0.65%;
    box-shadow: 0 10px 30px rgba(70, 75, 200, 0.08);
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 6%;
    margin-bottom: 1%;
    cursor: pointer;
}

.logo-container img {
    height:5vh;
    border-radius: 1.25vh;
    background: #fff;
    padding: 3.5%;
}

.brand-text {
    display: flex;
    flex-direction: column;
}

.sidebar-header .aion {
    font-size: clamp(0.1rem, 0.9vw , 5rem);;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.sidebar-header h4 {
    font-size: clamp(0.1rem, 0.6vw , 5rem);
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    margin: 0;
}

.sidebar-header hr {
    width: 100%;
    border: none;
    height: 3%;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.65), transparent);
    border-radius: 50px;
    margin: 8% 0px;
}

.barra-lateral {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1.5%;
}

.barra-lateral form {
    width: 100%;
}

.barra-lateral .botao {
    font-size: clamp(0.1rem, 0.7vw , 5rem);
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    padding: 7.1% 9%;
    border-radius: 2vh;
    transition: background 0.25s, transform 0.12s;
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    box-shadow: none;
}

.barra-lateral .botao.active {
    background: linear-gradient(145deg, #3A47FF, #9299FF);
    box-shadow: 0 8px 20px rgba(59, 66, 255, 0.18), inset 0 -6px 12px rgba(255, 255, 255, 0.08);
    transform: translateY(-5%);
}

.barra-lateral .botao:hover, .barra-lateral .sair:hover{
    background: rgba(255, 255, 255, 0.14);
}

.sair-container {
    margin-top: auto;
}

.barra-lateral .sair-container .sair {
    border: none;
    transition: box-shadow .35s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 100%;
    padding: 6%;
    font-size: clamp(0.1rem, 0.7vw , 5rem);
    background: linear-gradient(145deg, #3A47FF, #9299FF);
    border-radius: 1.5vh;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 8px 20px rgba(59, 66, 255, 0.12);
    cursor: pointer;
}

.barra-lateral .sair img {
    height: 2vh;
    cursor: pointer;
}

main {
    flex: 1;
    margin-left: 14.5%;
    padding: 2% 3%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow: hidden;
}

main h1 {
    font-size: clamp(0.1rem, 2vw , 8rem);
    font-weight: 700;
    color: #111;
    margin-top: 2vh;
}

main p {
    font-size: clamp(0.1rem, 0.9vw , 8rem);
    color: #777;
    margin-bottom: 1.4vh;
}

main .top-bar form{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.7vw;
}

main .top-bar form input {
    flex: 1;
    border: none;
    outline: none;
    font-size: clamp(0.1rem, 0.75vw , 8rem);
    padding: 0.1vh;
    color: #333;
}

main .top-bar form button {
    border: none;
    cursor: pointer;
}
/* --- TOPO: PESQUISA + BOTÕES --- */
.top-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.2vh;
    flex-wrap: nowrap;
}

/* --- BARRA DE PESQUISA --- */
.search-form {
    max-width: 35%;
    display: flex;
    align-items: center;
    border: 0.2vh solid #4F59E7;
    border-radius: 1.2vh;
    padding: 0 0.8vw;
    height: 4.4vh;
    background: #fff;
    transition: all 0.3s ease-in-out;
}

.search-form:focus-within {
    box-shadow: 0 0 0.8vh rgba(79, 89, 231, 0.25);
}

.search-form input {
    border: none;
    outline: none;
    flex: 1;
    font-size: clamp(0.1rem, 0.75vw , 8rem);
    color: #333;
}

.search-form button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form button img {
    width: 1.8vh;
}

/* --- AÇÕES --- */
.actions {
    display: flex;
    align-items: center;
    gap: 1.4vh;
}

/* BOTÃO FILTROS */
.actions .filtros {
    max-width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6vw;
    background-color: white;
    color: #4F59E7;
    font-weight: 600;
    font-size: clamp(0.1rem, 0.75vw , 8rem);
    border: 0.2vh solid #4F59E7;
    border-radius: 1.2vh;
    padding: 0 1.4vw;
    height: 4.4vh;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.actions .filtros:hover {
    background: #f4f5ff;
    box-shadow: 0 0 0.5vw rgba(79, 89, 231, 0.15);
}

.actions .filtros img {
    height: 0.8vh;
}

/* BOTÃO ADICIONAR NOVO */
.button-adicionar-novo {
    flex-shrink: 0;
}

.button-adicionar-novo button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6vw;
    background: radial-gradient(100.45% 100.45% at 80.43% 14.13%, #9299FF 0%, #3A47FF 100%);
    color: white;
    font-weight: 600;
    border-radius: 1.2vh;
    height: 4.4vh;
    padding: 0 1.6vw;
    font-size: clamp(0.1rem, 0.65vw , 8rem);
    border: none;
    box-shadow: 0 0.1vw 0.6vw rgba(79, 89, 231, 0.25);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.button-adicionar-novo button:hover, .filtros:hover{
    transform: translateY(-5%);
    box-shadow: 0 0.1vh 2.5vh rgba(79, 89, 231, 0.35);
}
table .actions button{
    transition: transform 0.2s ease, scale 0.2s ease;
}
table .actions button:hover{
    transform: translateY(-5%);
    scale: 1.1;
}

.button-adicionar-novo img {
    height: 1.8vh;
}


.table-card {
    width: 100%;
    background: #ffffff;
    border-radius: 2vh;
    padding: 1.8vh;
    box-shadow: 0 2vh 5vh rgba(21, 32, 80, 0.06);
    overflow: auto;
}


.table-card table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.table-card thead tr th {
    background: #EEF0FF;
    color: #4F59E7;
    font-weight: 600;
    text-transform: capitalize;
    font-size: clamp(0.1rem, 0.9vw , 8rem);
    padding: 1.8vh 2vh;
    text-align: left;
    border-bottom: none;
}

.table-card thead tr th:first-child {
    border-top-left-radius: 1.2vh;
}

.table-card thead tr th:last-child {
    border-top-right-radius: 1.2vh;
}

.table-card tbody tr {
    background: transparent;
}

.table-card tbody td {
    padding: 1.8vh 2vh;
    font-size: clamp(0.1rem, 0.75vw , 8rem);
    color: #333;
    border-bottom: 0.2vh  solid rgba(100, 100, 160, 0.06);
    vertical-align: middle;
}

.table-card tbody tr:last-child td {
    border-bottom: none;
}

.table-card td.actions {
    text-align: center;
    width: 12vh;
}

.table-card td form {
    display: inline-block;
    margin: 0 0.6vh;
}

.table-card td form button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.4vh;
    padding: 0.6vh;
    color: #111;
}

.table-card td form button img {
    width: 2vh;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
/*Estilização da barra de scroll*/
::-webkit-scrollbar {
    width: 1vh;
}
::-webkit-scrollbar-track {
    background: #eef0ff;
    border-radius: 1vh;
}
::-webkit-scrollbar-thumb {
    background: #EEF0FF;
    border-radius: 1vh;
    transition: background 0.3s;
}
::-webkit-scrollbar-thumb:hover {
    background: #EEF0FF;
}

.popup-deletar {
    position: absolute;
    width: 400px;
    height: 180px;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -42.5%);
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 28px 32px;
    z-index: 3;
}

.popup-deletar h1 {
    font-size: 20px;
    color: #2e5bff;
    margin-bottom: 8px;
}

.opcoes-deletar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.opcoes-deletar form {
    background-color: #0078ff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.opcoes-deletar form button {
    cursor: pointer;
    color: white;
    width: 100%;
    font-size: 16px;
    border: none;
    background-color: #0078ff;
}

.popup {
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 450px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
    padding: 30px 36px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    max-height: 60vh;
    overflow-y: auto;
}

.popup h1 {
    font-size: 22px;
    color: #2e5bff;
    margin-bottom: 20px;
    text-align: left;
}

.popup label {
    font-weight: 600;
    color: #2e5bff;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.popup input,
.popup textarea {
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1.5px solid #e0e0e0;
    outline: none;
    font-size: 15px;
    resize: vertical;
    margin-bottom: 18px;
    transition: border-color .3s;
}

.popup input:focus,
.popup textarea:focus {
    border-color: #2e5bff;
    box-shadow: 0 0 0 2px rgba(46, 91, 255, 0.15);
}

.popup input[readonly] {
    background: #f9f9f9;
    color: #777;
    cursor: not-allowed;
}

.popup .botoes {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.popup button,
.cancelar {
    font-family: inherit;
    font-size: 15px;
    border-radius: 8px;
    padding: 10px 22px;
    cursor: pointer;
    border: none;
    transition: all .3s;
}

.popup .cancelar a {
    text-decoration: none;
    color: #2e5bff;
}

.popup .cancelar {
    border: 1px solid #3A47FF;
    background: transparent;
}

.cancelar:hover {
    background: #f0f4ff;
}

.confirmar {
    background: linear-gradient(90deg, #4b6bff, #2e5bff);
    color: white;
    border: none;
}

.confirmar:hover {
    filter: brightness(1.1);
}

.status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E4E6FF;
    border-radius: 50px;
    padding: 6px;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 55px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: background-color .3s;
}

.status input {
    display: none;
}

.status label {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #3942C7;
    cursor: pointer;
    transition: all .25s;
    user-select: none;
}

.status input:checked+label {
    color: #fff;
    background: linear-gradient(135deg, #6373FF 0%, #2B39FF 100%);
    box-shadow: 0 3px 8px rgba(59, 66, 255, 0.3);
    transform: scale(1.05);
}

.status label:hover {
    background-color: rgba(59, 66, 255, 0.1);
}

#alterarSenha-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-editar {
    background: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 6px 14px;
    font-size: 14px;
    cursor: pointer;
    transition: all .2s;
}

.btn-editar:hover {
    background: #e0e0e0;
    border-color: #bbb;
}


.popup-deletar{
    position: absolute;
    width: 400px; /* largura média */
    height: 180px; /* altura pequena */
    top: 42.5%;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 28px 32px;
    z-index: 3;
} .popup-deletar h1 {
      font-size: 20px;
      color: #2e5bff; /* Azul forte */
      margin-bottom: 8px;
  }
.opcoes-deletar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}.opcoes-deletar form{
     background-color: #0078ff;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     border: none;
     border-radius: 8px;
     padding: 10px 20px;
     cursor: pointer;
     transition: 0.3s;
 }.opcoes-deletar form button{
      cursor: pointer;
      color: white;
      width: 100%;
      font-size: 16px;
      border: none;
      background-color: #0078ff;
  }

.popup {
    top: 20%;
    position: absolute;
    width: 450px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
    padding: 30px 36px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    max-height: 60vh;
    overflow-y: auto;
}

.popup h1 {
    font-size: 22px;
    color: #2e5bff;
    margin-bottom: 20px;
    text-align: left;
}

.popup label{
    font-weight: 600;
    color: #2e5bff;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}
textarea{
    transition: height 2.5s ease-in-out;
}
.popup input, textarea{
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1.5px solid #e0e0e0;
    outline: none;
    font-size: 15px;
    resize: vertical;
    margin-bottom: 18px;
    transition: border-color 0.3s ease;
}
.popup input:focus, textarea:focus {
    border-color: #2e5bff;
    box-shadow: 0 0 0 2px rgba(46, 91, 255, 0.15);
}

.popup input[readonly] {
    background: #f9f9f9;
    color: #777;
    cursor: not-allowed;
}

.popup select {
    width: 100%;
    padding: 12px 15px;
    border-radius: 12px; /* bordas mais arredondadas */
    border: 1.5px solid #e0e0e0;
    font-size: 15px;
    color: #333;
    background-color: #fff;
    text-align: center; /* centraliza o texto selecionado */
    appearance: none; /* remove a seta padrão do browser */
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 18px;
    max-height: 150px; /* altura máxima da lista */
    overflow-y: auto;  /* barra de rolagem se passar do limite */
}
.popup select option{
    border-radius: 200px;
    font-size: 16px;
    cursor: pointer;
}
.popup select:focus {
    border-color: #2e5bff;
    box-shadow: 0 0 0 2px rgba(46, 91, 255, 0.15);
}
/* opção “placeholder” sem seleção inicial */
.popup select option[disabled] {
    color: #999;
    text-align: center;
}

.popup .botoes {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.popup button, .cancelar {
    font-family: inherit;
    font-size: 15px;
    border-radius: 8px;
    padding: 10px 22px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;

}.popup .cancelar a{
     text-decoration: none;
     color: #2e5bff;
 }

.popup .cancelar {
    border: 1px solid #3A47FF;
    background: transparent;
}

.cancelar:hover {
    background: #f0f4ff;
}
.confirmar {
    background: linear-gradient(90deg, #4b6bff, #2e5bff);
    color: white;
    border: none;
}

.confirmar:hover {
    filter: brightness(1.1);
}.status {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #E4E6FF;
     border-radius: 50px;
     padding: 6px;
     width: 100%;
     max-width: 360px;
     margin-top: 15px;
     margin-bottom: 30px;
     box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
     transition: background-color 0.3s ease;
 }

.status input {
    display: none;
}

.status label {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #3942C7;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    user-select: none;
}

.status input:checked + label {
    color: #fff;
    background: linear-gradient(135deg, #6373FF 0%, #2B39FF 100%);
    box-shadow: 0 3px 8px rgba(59, 66, 255, 0.3);
    transform: scale(1.05);
}

.status label:hover {
    background-color: rgba(59, 66, 255, 0.1);
}
#alterarSenha-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-editar {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 6px 14px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-editar:hover {
    background-color: #e0e0e0;
    border-color: #bbb;
}
.status:not(:has(input#recusado:checked)) ~ #motivoRejeicao, .status:not(:has(input#recusado:checked)) ~ label{
    display: none;
}

.barra-lateral .sair:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(59, 66, 255, 0.25);
}

