/* ===== IMPORTAÇÕES E CONFIGURAÇÕES GERAIS ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

/* 
 * RESET E CONFIGURAÇÕES BÁSICAS 
 * Define estilos base para todos os elementos e configurações globais
 */
* {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    margin: 0;
    box-sizing: border-box;
    -webkit-user-drag: none;
}

img {
    user-select: none;
}
html{overflow-x: hidden}
/*
 * CORPO PRINCIPAL
 * Configurações gerais da página
 */
body {
    background-color: white;
    margin: auto;
    width: 100%;
    overflow-x: hidden;
}

img,
a {
    user-select: none;
    -webkit-user-drag: none;
}

/*
 * PREVENÇÃO DE SELEÇÃO EM ELEMENTOS ESPECÍFICOS
 * Impede seleção e arrasto em elementos do header
 */
header p,
header a {
    user-select: none;
    -webkit-user-drag: none;
}

/*
 * ELEMENTOS INTERATIVOS
 * Define cursor pointer para elementos clicáveis
 */
button,
.brand-logo,
.brand-name {
    cursor: pointer;
}


/* ===== HEADER ===== */
/*
 * CABEÇALHO PRINCIPAL
 * Header fixo com efeito de vidro fosco
 */
header {
    width: 100%;
    top: 0;
    z-index: 3;
    position: fixed;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(1.25vh);
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container da marca/logo */
.brand-container {
    -webkit-user-select: none;
    justify-content: center;
    width: 12.5%;
    align-items: center;
    display: flex;
    gap: 4.5%;
}

.brand-name {
    margin-bottom: 0.3%;
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.1rem, 1.7vw, 8rem);
    color: #3a47ff;
}

.brand-logo {
    width: 3.9vh;
}

/* Navegação principal */
.navigation-container {
    justify-content: center;
    align-items: center;
    width: 72.5%;
}

.navigation-menu {
    height: 100%;
    justify-content: center;
    gap: 2.75%;
    display: flex;
    list-style: none;
    align-items: center;
}

/* Efeitos de hover na navegação */
.navigation-menu:hover> :not(:hover) {
    height: 100%;
    opacity: 60%;
    transform: scale(0.9);
}

.navigation-menu:hover> :not(:hover) .active-indicator {
    width: 0px !important;
}

.navigation-menu:hover p {
    color: #3A47FF;
}

.navigation-menu:hover> :not(:hover) p {
    color: black;
}

.navigation-menu:hover> :not(:hover)~.active-indicator {
    width: 0px;
}

/* Links de navegação */
a {
    text-decoration: none;
}

.navigation-menu div {
    transition: .5s;
}

.nav-link {
    transition: color .5s;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: clamp(0.1rem, 0.9vw, 8rem);
}

/* Indicador de item ativo na navegação */
.active-indicator {
    transition: width 0.7s linear;
    width: 0px;
    background-color: #b4b8ff;
    height: 0.6vh;
    border-radius: 3.2vh;
    position: relative;
    right: 0.05vh;
}

/* Estados ativos dos links de navegação */
.nav-item.active~.active-indicator {
    background-color: #3A47FF;
}

.nav-item.active~.active-indicator {
    width: 99%;
}

.nav-item.active p {
    color: #3a47ff;
}

/* Efeitos hover nos itens de navegação */

.nav-item:hover~.active-indicator {
    width: 99%;
}

/* Botões de autenticação */
.auth-buttons {
    font-size: clamp(0.1rem, 0.85vw, 8rem);
    gap: 7%;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 15%;
}


.login-button {
    background: linear-gradient(233deg, #2b36d6 22.66%, rgba(21, 34, 220, 0.71) 90.91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.4s ease;
    text-shadow: none;
}

.login-button:hover {
    text-shadow: 0 0 0.8vw rgba(59, 67, 192, 0.6);
    transform: scale(1.1);
}


/* ===== SEÇÃO PRINCIPAL/HERO ===== */
/*
 * SEÇÃO DE DESTAQUE PRINCIPAL
 * Apresenta o conteúdo principal da página
 */
main {
    margin-top: 8.3vh;
    display: flex;
    height: 92.2vh;
    width: 100%;
    background-position: 62.7vh -5vh;
    background-image: url(../assets/logos/logo-plugin.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Elemento de apoio visual */
.visual-support {
    width: 31.8vh;
    height: 25.8vh;
    transform: rotate(130.753deg);
    border-radius: 31vh;
    background: rgb(255, 255, 255);
    filter: blur(2.5vh);
    top: 75vh;
    left: 110vh;
    position: absolute;
}

/* Conteúdo principal do hero */
.hero-content {
    margin-left: 12vh;
    margin-top: 16.2vh;
    width: 95vh;
    height: 18.3vh;
}

.hero-highlight {
    color: #99A0FF;
    font-size: clamp(0.1rem, 2.9vw, 15rem);
    font-style: normal;
    font-weight: 600;
    line-height: 5.8vh;
}

.hero-accent {
    color: #4955FA;
}

.hero-description {
    color: #000;
    font-weight: 400;
    line-height: 3vh;
    font-size: clamp(0.1rem, 1.1vw, 8rem);
    margin-top: 2.2vh;
}

/* Botão de call-to-action */
.cta-button {
    --black-700: hsla(0 0% 12% / 1);
    --border_radius: 4vh;
    --transtion: 0.3s ease-in-out;
    --offset: 0.2vh;
    position: relative;
    gap: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7.5vh;
    width: 28.6vh;
    height: 6.9vh;
    border-radius: 4vh;
    transform-origin: center;
    background-color: transparent;
    border: none;
    transform: scale(calc(1 + (var(--active, 0) * 0.1)));
    transition: transform var(--transtion);
    cursor: pointer;
}

/* FUNDO DO BOTÃO */
.cta-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(100.45% 100.45% at 80.43% 14.13%, #9299FF 0%, #3A47FF 100%);
    border-radius: var(--border_radius);
    z-index: 1;
    transition: all var(--transtion);
}

.cta-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #3A47FF;
    background-image: radial-gradient(at 51% 89%,
    #9299FF 0px,
    transparent 50%),
    radial-gradient(at 100% 100%, #7A85FF 0px, transparent 50%),
    radial-gradient(at 22% 91%, #7A85FF 0px, transparent 50%);
    background-position: top;
    opacity: var(--active, 0);
    border-radius: var(--border_radius);
    transition: opacity var(--transtion);
    z-index: 2;
}

.cta-button:is(:hover, :focus-visible) {
    --active: 1;
}

.cta-button:active {
    transform: scale(1);
}

.cta-button p {
    position: relative;
    z-index: 3;
    color: white;
    font-size: clamp(0.1rem, 1vw, 8rem);
    font-style: normal;
    font-weight: 600;
    margin: 0;
}

.cta-icon {
    position: relative;
    z-index: 3;
    width: 2.6vh;
    height: 2.6vh;
}

.cta-button:is(:hover, :focus) .cta-icon {
    animation: pulse 1.5s linear 0.5s infinite;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

/* Demonstração do dashboard */
.dashboard-preview {
    width: 94vh;
    border-radius: 3.9vh 3.9vh 0px 0;
    background-image: url(../assets/dashboard.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 8.6vh 0 rgba(0, 0, 0, 0.25);
    height: 59.7vh;
}

.demo-section {
    max-width: 92vh;
    height: 84vh;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

/* Cartão de notificação */
.notification-card {
    background-color: white;
    right: 79%;
    top: 71%;
    position: absolute;
    width: 30.5vh;
    height: 18vh;
    display: inline-block;
    padding: 3.1vh 4.7vh 3.6vh 2.9vh;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
    box-shadow: 0.4vh 0.4vh 1vh 0 rgba(0, 0, 0, 0.10);
    border: 0.1vh solid rgba(128, 128, 128, 0.35);
}

.notification-line1 {
    gap: 6vh;
    color: #808080;
    font-size: clamp(0.1rem, 0.7vw, 8rem);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
}

.notification-line2 {
    margin-top: 1.2vh;
    color: #000;
    font-size: clamp(0.1rem, 1.1vw, 8rem);
    font-weight: 600;
    line-height: normal;
}

.notification-line3 {
    color: #A3A3A3;
    font-size: clamp(0.1rem, 0.6vw, 8rem);
    font-weight: 400;
    line-height: normal;
}

.icon-small {
    height: 1.5vh;
}


/* ===== SEÇÃO DA PLATAFORMA ===== */
/*
 * SEÇÃO DE APRESENTAÇÃO DA PLATAFORMA
 * Destaca as características principais da plataforma
 */
#plataform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 7.5vh;
    margin-bottom: -17.5vh;

}

#plataform>p {
    margin-top: 2vh;
    width: 142.7vh;
    color: #000;
    text-align: center;
    font-size: clamp(0.1rem, 1.12vw, 8rem);
    font-weight: 400;
    line-height: 3vh;
}

#plataform>.section-title {
    width: 142.7vh;
    color: #99A0FF;
    text-align: center;
    font-size: clamp(0.1rem, 2.2vw, 8rem);
    font-weight: 600;
    line-height: 7.5vh;
    height: 15vh;
}

.text-accent {
    color: #3A47FF;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button-container .platform-button,
.signup-button {
    width: 27.7vh;
    height: 6.4vh;
    margin-bottom: 10.5vh;
    margin-top: 4vh;
    border-radius: 4vh;
    border: 0.2vh solid #3A47FF;
    transition: all 0.15s ease;
}

.button-container .platform-button:hover,
.signup-button:hover {
    box-shadow: 0 0 0.5vw rgba(79, 89, 231, 0.15);
    transform: translateY(-5%);
    box-shadow: 0 0.1vh 2.5vh rgba(79, 89, 231, 0.35);
}

.button-container .platform-button:hover {
    background: #f4f5ff;
}

.signup-button {
    display: flex;
    align-items: center;
    background: none;
    justify-content: center;
    width: 13.1515vh !important;
    height: 4.5vh !important;
    margin: 0 !important;
    transition: all 0.3s ease;
}

.button-container .platform-button p,
.signup-button p {
    text-align: center;
    font-weight: 600;
    line-height: 6.2vh;
    font-size: clamp(0.1rem, 1vw, 8rem);
    background: linear-gradient(88deg, #9299FF -0.39%, #3A47FF 81.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.signup-button p {
    font-size: clamp(0.1rem, 0.85vw, 8rem) !important;
    transition: all 0.3s ease;
}

/*ESTILO PARA QUANDO CHEGAR EM UM FUNDO AZUL, ONDE PERDE DESTAQUE*/
.signup-button.sobre-fundo-azul {
    background: rgba(255, 255, 255, 0.1) !important;
    border: 0.2vh solid rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0 0.4vh 1.5vh rgba(255, 255, 255, 0.15) !important;
}

.signup-button.sobre-fundo-azul p {
    color: white !important;
    -webkit-text-fill-color: white !important;
    text-shadow: 0 0.2vh 0.8vh rgba(0, 0, 0, 0.2);
}

.platform-image {
    width: 100%;
}

.platform-image>img {
    width: 100%;
}


/* ===== SEÇÃO DE VANTAGENS ===== */
/*
 * SEÇÃO DE BENEFÍCIOS/PRINCÍPIOS
 * Apresenta os benefícios e princípios do produto
 */
#principles .vantagens {
    margin-top: 10vh;
}

.vantagens {
    z-index: 2;
    min-height: 34.6vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12.4vh;
}

.info .vantagens {
    background-color: white;
}

#principles .info .vantagens {
    background-color: #99A0FF;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cartões de benefícios */
.benefit-card {
    box-shadow: -0.5vh 0.6vh 0.7vh rgba(146, 153, 255, 0.15);
    cursor: pointer;
    border-radius: 2.5vh;
    padding-right: 2vh;
    background-color: white;
}

.benefit-card.first h3,
.benefit-card.first p {
    color: #6e77ff !important;
}

.benefit-card img {
    margin-left: 2vh;
    margin-top: 5vh;
    transition: filter 0.7s ease;
    width: 3vh;
}
.first:first-of-type img{
    width: 1.9vh;
}

.benefit-card h3 {
    margin-top: 1vh;
    margin-left: 2vh;
    width: 39.482vh;
    height: 5.9vh;
    color: #000;
    -webkit-text-stroke-width: 0.1vh;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.00);
    font-size: clamp(0.1rem, 1.2vw, 8rem);
    font-weight: 600;
    line-height: 3vh;
    transition: color 0.7s ease;
}

.benefit-card p {
    margin-top: 1.8vh;
    margin-left: 2vh;
    width: 50vh;
    flex-shrink: 0;
    color: rgba(27, 35, 134, 0.60);
    -webkit-text-stroke-width: 0.1vh;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.00);
    font-size: clamp(0.1rem, 1vw, 8rem);
    font-weight: 400;
    line-height: 2.3vh;
    transition: color 0.7s ease;
}

.first:hover {
    background-color: #6E77FF !important;
    transition: background-color 0.7s ease !important;
}

.first:hover p,
.first:hover h3 {
    color: white !important;
}

.first:hover img {
    filter: brightness(0) invert(1);
}

/* ===== SEÇÃO DO APLICATIVO MOBILE ===== */
/*
 * SEÇÃO DO APLICATIVO PARA DISPOSITIVOS MÓVEIS
 * Apresenta as funcionalidades do aplicativo mobile
 */
#celulares {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22vh;
}

/* Opções de seleção do aplicativo */
#app-options {
    z-index: 2;
    margin-bottom: 40vh;
    width: 53.4vh;
    height: 5.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5.9vh;
    background-color: #BEC3FF;
    padding: 1vh;
}

input[type="radio"] {
    display: none;
}

label p {
    user-select: none;
    height: 1.9vh;
    color: #FFF;
    text-align: center;
    font-size: clamp(0.1rem, 0.9vw, 8rem);
    font-weight: 500;
    line-height: 2.4vh;
}

label {
    cursor: pointer;
}

.option-background {
    display: flex;
    width: 17.8vh;
    padding: 0.9vh 2.7vh 1.4vh 2.7vh;
    justify-content: center;
    align-items: center;
    border-radius: 7.8vh;
}

input:checked+.option-background {
    background-image: radial-gradient(113.02% 172.85% at 112.2% -31.48%, #9299FF 0%, #3A47FF 100%);
}

/* Apresentação dos recursos mobile */
#app-presentation {
    transition: transform 1.5s;
    top: 317.5%;
    gap: 25%;
    position: absolute;
    display: flex;
}

.app-screen {
    margin-top: 4.7vh;
    gap: 12.4vh;
    justify-content: center;
    display: flex;
    width: 100%;
}

.app-screen.calendario img {
    max-height: 85%;
}

.app-screen article {
    margin-top: 12.2vh;
}

.app-screen h2 {
    width: 49.6vh;
    color: #000;
    font-size: clamp(0.1rem, 3vw, 8rem);
    font-weight: 500;
    line-height: 6.5vh;
    margin-bottom: 2vh;
}

.app-screen p {
    width: 56.1vh;
    font-size: clamp(0.1rem, 1.1vw, 8rem);
}

.app-screen .right-text {
    margin-top: 40vh;
    width: 46.9vh;
}

.text-blue {
    color: #4955FA;
}

/* Transições entre as telas do aplicativo */
#app-options:has(input#dates:checked)~#app-presentation {
    transform: translateX(26.85%);
}

#app-options:has(input#dashbord:checked)~#app-presentation {
    transform: translateX(-84%);
}

#app-options:has(input#justificativa:checked)~#app-presentation {
    transform: translateX(-30%);
}

/* Notificação no aplicativo */
#app-notification {
    padding: 1.2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 18.875%;
    right: 20.725%;
    width: 18vh;
    height: 13.5vh;
    border-radius: 1vh;
    background: #FFF;
    box-shadow: 0 0 2vh 0 rgba(0, 0, 0, 0.10);
    filter: drop-shadow(-4.5vh 3.8vh 0.4vh rgba(0, 0, 0, 0.15)) drop-shadow(-0.6vh 0.6vh 0.4vh rgba(0, 0, 0, 0.15));
}
#app-notification img{
    height: 6.3vh;
    width: 6.3vh !important;
}

#notification-count {
    color: #000;
    font-size: clamp(0.1rem, 1.7vw, 8rem);
    font-weight: 500;
    line-height: 2.1vh;
}

#notification-line1 p {
    color: #404040;
    font-size: clamp(0.1rem, 0.8vw, 8rem);
    font-weight: 400;
    line-height: 1.6vh;
}

#notification-line2 p {
    margin-top: 0.4vh;
    margin-bottom: 0.2vh;
    color: #4C4C4C;
    font-size: clamp(0.1rem, 1.1vw, 8rem);
    font-weight: 400;
    line-height: 1.6vh;
}

#notification-line1,
#notification-line2 {
    display: flex;
    gap: 1.6vh;
}

#notification-line1 {
    margin-top: 1vh;
    align-items: end;
}

#notification-line2 {
    gap: 4.1vh;
    align-items: end;
}

.tela:first-of-type{
    height: 80vh;
}
.tela{
    height: 31.5vh;
}
.tela:last-of-type{
    height: 80.3vh;
}
/* Ajustes específicos para telas do aplicativo */
.app-screen.dash article {
    margin-left: -24vh;
}

.app-screen.dash .right-paragraph {
    margin-left: -44vh;
    width: 40.8vh;
    margin-top: 26.5vh;
}

.app-screen.dash .right-text {
    margin-left: -53.4vh;
    margin-top: 40vh;
}

.app-screen.justificativa .right-text {
    margin-left: -68.5vh;
    width: 49.2vh;
}

#visual-improvisado2 {
    display: none;
}

/* Seção de ondas decorativas */
#app-waves {
    width: 100%;
    height: 52.05vh;
    background-color: #99A0FF;
}

.wave-image {
    width: 100%;
}


/* ===== SEÇÃO FINAL ===== */
/*
 * SEÇÃO FINAL E RODAPÉ
 * Contém informações finais e rodapé
 */
#final {
    display: flex;
    background-color: #99A0FF;
    flex-direction: column;
    align-items: center;
    padding-bottom: 12.5vh;
}

#about-wrapper {
    width: 84%;
    height: 96vh;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #B0B5FF, #4C58FF);
    border-radius: 4vh;
}

#about-us {
    padding: 5vh 5vh;
    flex-shrink: 0;
    height: 99.5%;
    width: 99.75%;
    border-radius: 4vh;
    background-color: #99A0FF;
}

#about-us h2 {
    width: 81.4vh;
    color: #FFF;
    font-size: clamp(0.1rem, 2.92vw, 8rem);
    font-weight: 600;
    line-height: 5.8vh;
}

#about-content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 70%;
    grid-template-columns: 45% 50%;
    column-gap: 5%;
    margin-top: 2.5%;
}

#ajuda-visual {
    display: none;
    color: #FFF;
    font-size: clamp(0.1rem, 1.46vw, 8rem);
    font-weight: 400;
}

#text-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFF;
    font-size: clamp(0.1rem, 1.46vw, 8rem);
    font-weight: 400;
    line-height: 6vh;
    height: 100%;
}

#about-image {
    background-image: url(../assets/equipe-zyntra.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Seção de princípios */
#principles {
    margin-top: 19vh;
}

#principles h2 {
    margin-left: -2.5vh;
    color: #FFF;
    font-size: clamp(0.1rem, 2.925vw, 8rem);
    font-weight: 600;
    line-height: 5.8vh;
}

#principles .benefit-card {
    background-color: white;
}

#principles .benefit-card:hover {
    box-shadow: -0.2vh -0.2vh 0.2vh rgba(112, 144, 176, 0.01), 1vh 0.8vh 1.2vh rgba(50, 70, 100, 0.6);
}

/* Ondas decorativas */
.waves-container {
    background-color: #99A0FF;
    position: relative;
    width: 100%;
    height: 29.3vh;
    overflow: hidden;
}

.waves-container:nth-child(2) {
    z-index: 1.1;
}

.waves-container:nth-child(3) {
    z-index: 1.2;
}

.wave-svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
}


/* ===== RODAPÉ ===== */
/*
 * RODAPÉ
 * Contém links, informações de contato e direitos autorais
 */
footer {
    width: 100%;
    background-color: #5E69FF;
    padding: 3.7vh 7.5vh;
    padding-bottom: 7.5vh;
    color: #FFF;
    font-size: clamp(0.1rem, 1.1vw, 8rem);
    font-weight: 400;
    line-height: 2.8vh;
}

footer .brand-container p {
    color: white;
}

footer a {
    color: #FFF;
    font-weight: 400;
    line-height: 2.8vh;
    text-decoration: underline;
}

footer .brand-container div {
    background-image: url(../assets/logos/logo-roxo.png);
    background-color: white;
    background-size: 3.1vh 4.1vh;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1.3vh;
    width: 5.5vh;
    height: 5.5vh;
    cursor: pointer;
}

.footer-description {
    width: 73.9vh;
    height: 9vh;
    margin-top: 5.2vh;
    margin-bottom: 3.5vh;
}

#footer-content {
    display: grid;
    grid-template-columns: 52.5% 47.5%;
}

#footer-primary {
    width: 100%;
}

#footer-secondary {
    gap: 25.5vh;
    display: flex;
}

#footer-secondary nav ul li {
    margin-top: 2.8vh;
}

#footer-secondary nav ul li .footer-title {
    margin-bottom: 4.4vh;
}

.footer-title {
    font-weight: 500;
}

footer ul {
    list-style: none;
}

.contact-line {
    margin-top: 2.3vh;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.4vh;
}

footer .brand-container {
    width: 15vh;
    gap: 1vh
}

#footer-bottom {
    margin-top: 21.2vh;
    display: flex;
    justify-content: space-between;
    padding-right: 10vh;
    align-items: center;
}

#copyright {
    justify-content: center;
    display: flex;
    gap: 1vh;
    align-items: center;
}

#copyright a {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-bottom>ol {
    list-style: none;
    gap: 7vh;
    display: flex;
}
.footer-bottom-icon{
    width: 2.7vh;
}
.footer-icon{
    width: 3.2vh;
}
